body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    background-color:black; 
    color: white
    
     
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.name {
    font-weight: 600;

}
/* img {
    float: left;
    background-color:green;
    flex-wrap: nowrap;
    margin-right:20px;
    margin-top:20px

}
.bio {
    float: left;
    background-color:red;
    flex-wrap: nowrap;
    padding: 20px;
    width: 33%;
}

div {
    float: left;
    padding:0px;
    margin:20px;
    width:33%;
    background-color:pink;
    flex-wrap:nowrap;

} *//

img {
    flex-basis: fit-content;
    height: 250px;
    width: 250px;
}

/* .bio {
    flex-grow: 1;
}

div {
    flex-grow: 1;
} */